






#nosotros {
  margin: 2rem;
  }

  #nosotros h2 {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
  }
   /*
  #nosotros p {
    font-size: 18px;
    line-height: 1.5;
    color: #555;
    margin-bottom: 30px;
  } */

  .Ncontainer {
    background-color: #ffffff;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  /* .row {
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  
  /* .col-md-6 {
    flex: 1 1 50%;
    padding: 20px;
  } */
  
  h2 {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    line-height: 1.5;
  }
  
  p {
    font-size: 16px;
    font-family: sans-serif;
    line-height: 1.5;
  }
  
